@charset "UTF-8";

h1{
    background-color: lightgray;
    height: 300px;
    width: 300px;
    border: 10px solid darkslategray;

    padding: 10px 10px 10px 10px;

    margin: 10px auto 25px auto;
}
p{
    margin: 10px 10px 10px -8px;
    
}
a{
    display: inline-block;
    border: 10px solid red;
    padding: 10px 10px 10px 10px;
}